<header class="header">

    <nav class="navbar">

      <span class="navbar__btn" (click)="onClick()" type="button"><i class="fas fa-bars"></i></span>

      <a class="navbar__brand" href=""><i class="fas fa-code"></i> Pablo Rincones</a>

      <div class="navbar__menu">
        <ul>
          <li><a id="home" href="#">Inicio</a></li>
          <li><a id="about" href="#">Acerca</a></li>
          <li><a id="contact" href="#">Contacto</a></li>
          <li><a id="admin" href="#">Admin</a></li>
        </ul>
      </div>

    </nav>

</header>
