<section class="particles-js --sub-pages --portafolio" id="particles-js">
  <div class="container">
    <div class="row text-particles --column header-title">
      <h1>Portafolio</h1>
    </div>
  </div>
</section>

<section>

  <div class="container">

    <div class="row --space-between --wrap">

      <div *ngFor="let project of projects" class="card">
        <div class="card__image-container">
          <img class="card__image" src="{{project.img}}" alt="{{project.name}}">
        </div>

        <svg class="card__svg" viewBox="0 0 800 500">

          <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#1D2540"/>
          <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
        </svg>

        <div class="card__content">
          <h1 class="card__title">{{project.name}}</h1>
          <p>
            {{project.description}}
          </p>
          <p class="technology">
            tecnología: <span>{{project.technology}}</span>
          </p>
          <a href="{{project.url}}" target="_blank" class="btn">
            <span>Ver mas</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
        </div>
      </div>

    </div>

  </div>

</section>
