html {
  box-sizing: border-box;
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  line-height:  var(--line-height);
  color: var(--text-color);
  background-color: var(--white);

  body {
    overflow-x: hidden;
    a {
      font-weight: bold;
      text-decoration: none;
      color: $secondColor;
      transition: all .3s ease-out;

      &:hover { color: $white; }
    }

    img { max-width: 100%; width: 100%; height: auto; }

    ::selection { background-color: $mainColor; color: $secondColor; }

    section {
      h2 {
        color: $secondColor;
        text-transform: uppercase;
        margin: 1rem 0;
        text-align: center;
        font-size: 3.4375rem;
        font-weight: 600;
      }
    }
  }

}

*,
*:after,
*:before {
  box-sizing: inherit;
 padding: 0;
  margin: 0;
}








