<section class="particles-js --sub-pages" id="particles-js">
  <div class="container">
    <div class="row text-particles --column header-title">
      <h1>Contacto</h1>
    </div>
  </div>
</section>

<div class="margin"></div>

<section>

  <div class="container">
    <div class="row --center">
      <div class="screen">

        <div class="screen-header">

          <div class="screen-header-left">

            <div class="screen-header-button close"></div>

            <div class="screen-header-button maximize"></div>

            <div class="screen-header-button minimize"></div>

          </div>

          <div class="screen-header-right">

            <div class="screen-header-ellipsis"></div>

            <div class="screen-header-ellipsis"></div>

            <div class="screen-header-ellipsis"></div>

          </div>

        </div>

        <div class="screen-body">

          <div class="screen-body-item left">

            <div class="app-title">

              <span>Contáctame</span>

            </div>

            <div class="social-buttons">

              <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                <span class="social-button__inner">
                  <i class="fab fa-facebook-f"></i>
                </span>
              </a>

              <a href="#" class="social-buttons__button social-button social-button--instagram" aria-label="LinkedIn">
                <span class="social-button__inner">
                  <i class="fab fa-instagram"></i>
                </span>
              </a>


              <a href="#" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
                <span class="social-button__inner">
                  <i class="fab fa-github"></i>
                </span>
              </a>

            </div>

            <div class="app-contact">Telefono : +58 424 5755070</div>

          </div>

          <div class="screen-body-item">

            <div class="app__form">

              <div class="app__form__group">

                <input class="app__form__control" placeholder="NOMBRE">

              </div>

              <div class="app__form__group">

                <input class="app__form__control" placeholder="CORREO">

              </div>

              <div class="app__form__group">

                <input class="app__form__control" placeholder="ASUNTO">

              </div>

              <div class="app__form__group message">

                <input class="app__form__control" placeholder="MENSAJE">

              </div>

              <div class="app__form__group buttons">

                <a class="btn">
                  <span>ENVIAR</span>
                  <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                  </svg>
                </a>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</section>

<div class="margin"></div>
