.footer {
  background-color: var(--main-color);
  color: var(--white);

  .footer__menu__link {
    color: $secondColor;

    img {
      width: 2.5rem;
      margin-right: 1rem;
    }
  }
  p {
    a {
      color: $secondColor;
    }
  }
}
