.navbar {
  background-color: transparent;

  &.is-active { border-radius: 0 0 1rem 1rem; }

  &__btn { font-size: 2rem; color: $white; }

  &__brand {
    color: var(--white);
    font-size: 1.5rem;

    @include mq(l) { font-size: 1.8rem }
  }

  &__menu {
    font-size: 5vw;

    @include mq(m) { font-size: $fontSize}

    a {
      color: $white;
      border-radius: 1rem;

      &.active {
        color: $white;
        background-color: $secondColor;
      }

      &:hover {
        color: $white;
        background-color: $secondColor;

        @include mq(m) { background-color: transparent; }

        @include mq(l) { background-color: $secondColor; }
      }
    }
  }

  &.--scroll {
    background-color: $mainColor;
    box-shadow: $shadowHover;
    width: 100%;

    @include mq(m) { padding: 1.5rem 2.5rem; }
  }

}
