
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: $white;
	box-shadow: $shadowImg;
	height: auto;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;

	// &::before,
	// &::after {
	// 	@include white-gradient;
	// 	content: "";
	// 	height: 400px;
	// 	position: absolute;
	// 	width: 450px;
	// 	z-index: 2;
	// }

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slide {
		height: 413px;
    width: 450px;
    padding: 2rem;
  }

  p {
    text-align: center;
    font-weight: 700;
  }
}
