<section class="particles-js --sub-pages" id="particles-js">
  <div class="container">
    <div class="row text-particles --column header-title">
      <h1>Servicios</h1>
    </div>
  </div>
</section>

<div class="skew-c"></div>

<section class="colour-block">

  <div class="container">

    <h2>Desarrollo web</h2>

    <div class="row --space-between --wrap">

        <img class="about-me__img" src="assets/img/desarrollo-web.jpg" alt="ilustracion de un astronauta en un planeta">

      <div class="about-me__text">

        <p>
          Me aseguro de utilizar siempre las ultimas tecnologías de desarrollo web:
        </p>

        <ul>
          <li>Paginas web</li>
          <li>Paginas web autoadminstrables (Wordpress)</li>
          <li>Aplicaciones web</li>
          <li>tiendas online (WooCommerce)</li>
        </ul>

        <div>
          <a [routerLink]="['/acerca-de-mi']" class="btn">
            <span>Contacto</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>

        </div>

      </div>

    </div>

  </div>

</section>

<div class="skew-cc"></div>

<section class="white-block">

  <div class="container">

    <h2>Administacion y mantenimiento</h2>

    <div class="row --space-between --wrap">

      <div class="about-me__text">

        <p>
          Administacion de sus paginas y Aplicacion web, mantenimiento cambios que necesite en sus aplicaciones y paginas web bajo las tecnologías que manejo, mejorammiento de velocidad de respuesta bajo google speed.
        </p>

        <div>
          <a [routerLink]="['/acerca-de-mi']" class="btn">
            <span>Contacto</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>

          </div>

      </div>

      <img class="about-me__img" src="assets/img/administracion.jpg" alt="ilustracion de un astronauta en un planeta">

    </div>

  </div>

</section>

<div class="skew-c"></div>

<section class="colour-block">

  <h2>SEO y optimización</h2>

  <div class="container">

    <div class="row --space-between --wrap">

        <img class="about-me__img" src="assets/img/seo-optimizacion.jpg" alt="ilustracion de un astronauta en un planeta">

        <div class="about-me__text">

          <p>
            Posicionamiento de su paginas web en las busquedas de google con seo organico y SEM, asesorias en su desarrollos web como que tecnologías son perfectas para su desarrollo y entre otros.
          </p>

          <div>
            <a [routerLink]="['/acerca-de-mi']" class="btn">
              <span>Contacto</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>

          </div>

        </div>

    </div>

  </div>

</section>

<div class="skew-cc"></div>
