<section class="particles-js --sub-pages" id="particles-js">
  <div class="container">
    <div class="row text-particles --column header-title">
      <h1>Servicios</h1>
    </div>
  </div>
</section>

<section class="services white-bg">

  <div class="container">

    <h2>Desarrollo web</h2>

    <div class="row --space-between --wrap">

        <img class="content-block__img" src="assets/img/programador-web.jpg" alt="Programador en la computadora">

      <div class="content-block__text">

        <p>
          Me aseguro de utilizar siempre las ultimas tecnologías de desarrollo web:
        </p>

        <ul>
          <li>
            <img class="left" src="assets/img/pagina-web.svg" alt="icono pagina web">
            Paginas web
          </li>
          <li>
            Paginas web autoadminstrables (Wordpress)
            <img class="right" src="assets/img/pagina-administrable.svg" alt="icono pagina administrable">
          </li>
          <li>
            <img class="left" src="assets/img/aplicaciones-web.svg" alt="icono aplicaciones web">
            Aplicaciones web
          </li>
          <li>
            tiendas online (WooCommerce)
            <img class="right" src="assets/img/tienda-online.svg" alt="icono tienda online">
          </li>
        </ul>

        <div>
          <a [routerLink]="['/contactame']" class="btn">
            <span>Contáctame</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>

        </div>

      </div>

    </div>

  </div>

</section>

<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"/>
</svg>

<section class="services main-color-bg">

  <div class="container">

    <h2>Administacion y mantenimiento</h2>

    <div class="row --space-between --wrap">

      <div class="content-block__text">

        <p>
          Administacion de sus paginas y Aplicacion web, mantenimiento cambios que necesite en sus aplicaciones y paginas web bajo las tecnologías que manejo, mejorammiento de velocidad de respuesta bajo google speed.
        </p>

        <div>
          <a [routerLink]="['/contactame']" class="btn">
            <span>Contáctame</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>

          </div>

      </div>

      <img class="content-block__img" src="assets/img/administracion.jpg" alt="Administracion y mantenimiento">

    </div>

  </div>

</section>

<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 C 50 100 80 100 100 0 Z"/>
</svg>

<section class="services white-bg">

  <h2>SEO y optimización</h2>

  <div class="container">

    <div class="row --space-between --wrap">

        <img class="content-block__img" src="assets/img/seo-optimizacion.jpg" alt="Seo y optimizacion">

        <div class="content-block__text">

          <p>
            Posicionamiento de su paginas web en las busquedas de google con seo organico y SEM, asesorias en su desarrollos web como que tecnologías son perfectas para su desarrollo y entre otros.
          </p>

          <div>
            <a [routerLink]="['/contactame']" class="btn">
              <span>Contáctame</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>

          </div>

        </div>

    </div>

  </div>

</section>
