<section class="particles-js --sub-pages" id="particles-js">
  <div class="container">
    <div class="row text-particles --column header-title">
      <h1>Acerca de mi</h1>
    </div>
  </div>
</section>

  <div class="skew-c"></div>

<section class="about-me main-color-bg">
  <div class="container">

    <div class="content-block row --space-between">

      <img class="content-block__img" src="assets/img/astronauta-planeta.svg" alt="ilustracion de un astronauta en un planeta">

      <div class="content-block__text">
        <br>
        <p>
          Mi nombre es Pablo Rincones soy desarrollador web tengo experiecia para pequeñas y medianas empresas, hasta tiendas en linea con carritos de compra(WooCommerce).
        </p>

        <p>
          Me aseguro de utilizar siempre las ultimas tecnologías de desarrollo web: HTML5, CSS3, Javascript, Wordpress y entre otros. Si necesitasuna pagina web moderna, funcional que se adapte a todos los diferentes tipos de pantallas te aseguro que llegaste al lugar correcto.
        </p>

        <p>
          Puedes ponerte en contacto conmigo a traves de Facebook y otras redes sociales o por el formulario que esta ubicado en la pagina de contacto.
        </p>

        <div class="flex-center">
          <a [routerLink]="['/acerca-de-mi']" class="btn">
            <span>curriculo</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>

          <a [routerLink]="['/contactame']" class="btn">
            <span>Contáctame</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>

        </div>

      </div>

    </div>
  </div>
</section>

<div class="skew-cc"></div>

<section class="white-bg">

  <h2>Flujo de trabajo</h2>

  <div class="container">
    <p class="sub-title">
      Cuido de ti y tus proyectos, con un flujo de trabajo claro y estructurado. Esto es lo que te ofrezco si contratas mis servicios.
    </p>
  </div>


  <div class="container">

    <div class="row --space-between --wrap">

      <div class="card --simple">
        <div class="center">
          <img class="icon center" src="assets/img/lluvia-de-ideas.svg" alt="icono lluvia de ideas">
        </div>

        <h3 class="card__title second-color">Lluvia de ideas</h3>

        <p>
          En lugar de comenzar de inmediato, me tomo tiempo para elegir conceptos e ideas que podamos iterar juntos. Una vez que logramos un concepto, éste será el eje principal para empezar.
        </p>
      </div>

      <div class="card --simple">
        <div class="center">
          <img class="icon center" src="assets/img/preparacion.svg" alt="icono preparacion">
        </div>

        <h3 class="card__title second-color">Preparación</h3>

        <p>
          Dependiendo del tamaño y la naturaleza del proyecto, repaso una lista de las cosas que deben tratarse para garantizar un proyecto perfecto y sin contratiempos.
        </p>
      </div>

      <div class="card --simple">
        <div class="center">
          <img class="icon center" src="assets/img/responsive.svg" alt="icono responsive">
        </div>

        <h3 class="card__title second-color">Diseño adaptable</h3>

        <p>
          Diseño adpatable para todo tipos de dispositivos como computadoras, table y telefonos.
        </p>
      </div>

      <div class="card --simple">
        <div class="center">
          <img class="icon center" src="assets/img/seo-optimizacion.svg" alt="seo y optimización">
        </div>

        <h3 class="card__title second-color">Seo y Optimización</h3>

        <p>
          Seo basico y optimización para que el proyecto tenga una buena puntuación en googlespeed entre otros.
        </p>
      </div>

    </div>

  </div>

</section>

<div class="skew-c"></div>

<section class="about-me main-color-bg">
  <h2>Tegnologias</h2>
  <div class="container">

    <div class="row --space-between --wrap">

      <div class="container-icon">
        <i class="fab fa-html5"></i>
        <h4>HTML5</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-css3-alt"></i>
        <h4>CSS3</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-js-square"></i>
        <h4>JAVASCRIPT</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-php"></i>
        <h4>PHP</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-wordpress"></i>
        <h4>WORDPRESS</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-angular"></i>
        <h4>ANGULAR</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-react"></i>
        <h4>REACTJS</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-node"></i>
        <h4>NODEJS</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-sass"></i>
        <h4>SASS</h4>
      </div>

      <div class="container-icon">
        <i class="fas fa-database"></i>
        <h4>BASE DE DATOS</h4>
      </div>

      <div class="container-icon">
        <i class="fab fa-git-square"></i>
        <h4>GIT</h4>
      </div>

    </div>

  </div>

</section>

<div class="skew-cc"></div>
