.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding: 0;

  .row {
    display: flex;
    flex-wrap: wrap;

    &.--wrap { flex-wrap: wrap; }

    @include mq(m) { flex: 1 1 0; flex-wrap: nowrap; }

    &.--space-between {
	    justify-content: space-between;
	    align-items: center;
      align-content: center;
    }

    &.--center {
      justify-content: center;
      align-content: center;
    }

    &.--column {
      flex-direction: column;
      justify-content: center;
	    align-items: center;
    }
  }
}
