<footer class="footer">

  <div class="footer__description">
    <h3><i class="fas fa-code"></i> Pablo Rincones</h3>
  </div>

  <div class="footer__menu">
    <h3>Servicios</h3>
    <ul>
      <li><a class="footer__menu__link" href="">Paginas Web</a></li>
      <li><a class="footer__menu__link" href="">Aplicaciones Web</a></li>
      <li><a class="footer__menu__link" href="">Asesorias</a></li>
    </ul>
  </div>

  <div class="footer__menu">
    <h3>Redes Sociales</h3>
    <div class="social-buttons">

      <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
        <span class="social-button__inner">
          <i class="fab fa-facebook-f"></i>
        </span>
      </a>

      <a href="#" class="social-buttons__button social-button social-button--instagram" aria-label="LinkedIn">
        <span class="social-button__inner">
          <i class="fab fa-instagram"></i>
        </span>
      </a>


      <a href="#" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
        <span class="social-button__inner">
          <i class="fab fa-github"></i>
        </span>
      </a>

    </div>
  </div>

  <p> &copy; {{ year }} <a href="">Pablo Rincones</a> | Desarrollador web. Todos los derechos reservados </p>

</footer>
